<app-small-card [foto]="'../../../assets/ff.png'" [titulo]="'Formatação de Computadores/notebooks'" [texto]="' 👉Melhor Desempenho: A formatação remove arquivos desnecessários e programas indesejados, melhorando a velocidade e a eficiência do computador.
 👉Correção de Problemas: Soluciona problemas de software, removendo vírus, malware e corrigindo erros que podem surgir ao longo do tempo.
 👉Atualização do Sistema: Instala uma versão limpa do sistema operacional, garantindo que o PC esteja atualizado e seguro contra vulnerabilidades.
'"></app-small-card>
<app-small-card [foto]="'../../../assets/img.jpg'" [titulo]="'Troca/Reposição de peças'" [texto]="' 👉Aprimoramento do Desempenho: A substituição de peças antigas ou defeituosas por componentes mais recentes ou funcionais pode significativamente melhorar o desempenho do hardware.
👉Compatibilidade Atualizada: Trocar peças permite a adaptação a requisitos mais recentes, garantindo que o sistema seja compatível com novos softwares e tecnologias.
👉Prolongamento da Vida Útil: Atualizar ou substituir peças desgastadas ajuda a prolongar a vida útil do dispositivo, proporcionando uma experiência mais eficiente e confiável.'"></app-small-card>
<app-small-card [foto]="'../../../assets/mp.jpg'" [titulo]="'Montagem de Computadores'" [texto]="'
👉 Especialização Técnica: Profissionais especializados em montagem de computadores garantem que cada componente seja instalado corretamente, evitando erros que podem surgir na montagem amadora.
👉 Eficiência e Rapidez: Contratar serviços de montagem proporciona uma conclusão rápida do projeto, economizando tempo e garantindo que o computador esteja pronto para uso imediato.
 👉Configuração Otimizada: Especialistas configuram o sistema para atender às necessidades específicas do usuário, otimizando o desempenho e garantindo a compatibilidade de hardware.'"></app-small-card>


