.floating-image {
  position: fixed;
  bottom: 20px; /* Ajuste conforme necessário */
  right: 20px; /* Ajuste conforme necessário */
  z-index: 999; /* Certifica-se de que a imagem está acima do conteúdo */
}

.floating-image img {
  width: 100px; /* Ajuste conforme necessário */
  height: auto; /* Mantém a proporção original da imagem */
  border-radius: 50%; /* Adiciona borda circular (opcional) */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra (opcional) */
}
