.small_card{

  margin: 150px;
  height: 500px;
  flex-direction: row;
  display: flex;
  -webkit-box-shadow: 29px 11px 39px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 29px 11px 39px 6px rgba(0,0,0,0.75);
  box-shadow: 29px 11px 39px 6px rgba(0,0,0,0.75);
}

.foto_small > img {
border-radius: 15px;
  display: flex;
  margin-top: 50px;
  margin-left: 10px;
  border: solid 1px black;


  width: 650px;

}

.description>  p{
  margin-top: 50px;
  color: black;
  font-size: 17px;


  width: 770px;
  display: flex;


}
.full-text{
  margin-left: 50px;

  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px)
{
  .small_card{
    width: 100%;
    flex-direction: column;

  }

  .big_card{
    width: 100%;
    flex-direction: column;
  }

  .full-text{
    width: 100%;
    flex-direction: column;
  }

  .foto_small{
    width: 100%;
    flex-direction: column;
  }
}
