.small_card{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 50px;

  -webkit-box-shadow: 29px 11px 39px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 29px 11px 39px 6px rgba(0,0,0,0.75);
  box-shadow: 29px 11px 39px 6px rgba(0,0,0,0.75);
}

.foto_small > img {
border-radius: 15px;
  display: flex;
  margin-top: 180px;
  margin-left: 10px;


  width: 450px;
  height: 300px;

}

.description>  p{
  margin-top: 50px;
  color: black;
  font-size: 17px;


  width: 770px;
  display: flex;


}
.full-text{

  margin-left: 50px;

  display: flex;
flex-direction: column;
}

@media screen and (max-width: 1200px){
  .contaner{
    width: auto;
    height: auto;
    padding: auto;
}

.small_card{
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px;
  height: auto;
}
.foto_small{
flex-direction: column;

  margin: auto;
  display: flex;
  justify-content: center;
  padding: auto;
}
.foto_small > img{
width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: auto;
}


}
.text_small>p{
margin:auto;
flex-direction: column;
  display: flex;
}


@media screen and (max-width: 768px)
{
  .contaner{
    width: auto;
    height: auto;
    padding: auto;
}



  .small_card{
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    height: auto;
  }
.foto_small{
  flex-direction: column;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: auto;
}
.foto_small > img{
  width: 80px;
  height: 100px;
    display: flex;

    margin: auto;
    padding: auto;
}

.full-text{

width: 250px;

}

.description > p{
  margin:auto;
  display: flex;
    height: auto;
    width: auto;
    font-size: 8px;

}
.title >h1{
  font-size: 15px;
}
}

