<div class="big_card">
  <div class="foto_big">
 <img src="../../../assets/Photo-1-fotor-bg-remover-2023090913495 1.png" alt="" srcset="">
  </div>
  <div class="text_big">
<p>Olá, eu me chamo Evânio e sou formado em Serviços Jurídicos e Notariais. Atualmente, estou cursando Análise e Desenvolvimento de Sistemas,
  e sou apaixonado por tecnologia. Irei te auxiliar no que for necessário para resolver seu problema relacionado à informática.</p>
  </div>
</div>

<div class="small_card">
  <div class="text_small">
<li>Formatação de computadores e notebooks.</li>
<li>Troca de peças.</li>
<li>Montagem de computadores.</li>
</div>
<div class="foto_small">
  <img src="../../../assets/images 1.png" alt="" srcset="">
    </div>


</div>
