.big_card{
  background-color: white;
  margin: 150px;
  height: 500px;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  -webkit-box-shadow: 29px 11px 39px 6px rgba(0,0,0,0.75);
-moz-box-shadow: 29px 11px 39px 6px rgba(0,0,0,0.75);
box-shadow: 29px 11px 39px 6px rgba(0,0,0,0.75);
border-radius: 30px;
}
.big_card:hover{
  background-color: grey;
  color: white;
  border: solid 1px rgb(66, 63, 216);

}
.text_big:hover > p{
  color: white;
}

.foto_big > img{
  display: flex;
  margin-top: 80px;
  margin-left: 40px;
  width: 250px;
  border-radius: 50%;
}
.text_big > p{
  margin-top: 100px;
  font-size: 30px;
  margin-left: 20px;
  color: black;
}

.small_card{
  margin: 150px;
  height: 500px;
  flex-direction: row;
  display: flex;
  -webkit-box-shadow: 29px 11px 39px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 29px 11px 39px 6px rgba(0,0,0,0.75);
  box-shadow: 29px 11px 39px 6px rgba(0,0,0,0.75);
  border-radius: 30px;
}
.small_card:hover{
  background-color: gray;

}
.text_small:hover >li{
  color: aliceblue;
}
.foto_small > img {
border-radius: 15px;
  display: flex;
  margin: auto;


  width: 650px;

}

.text_small > li{
  margin-top: 70px;
  color: black;
  font-size: 30px;
  margin-left: 20px;

}
@media screen and (max-width: 1200px){
  .contaner{
    width: auto;
    height: auto;
    padding: auto;
    border: solid 1px black;
}
.big_card{
  width: 100%;
  flex-direction: row;
  margin:auto;
  margin-bottom: 50px;
  display: flex;




}
.foto_big{


  display: flex;
  justify-content: center;
  padding: auto;
}
.foto_big>img{
  width: 150px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: auto;
  border-radius: 50%;
}
.text_big{
  display: flex;
  padding: auto;
}
.text_big > p {
  margin:auto;
  display: flex;
}
.small_card{
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin: auto;
  height: auto;
}
.foto_small{
flex-direction: column;

  margin: auto;
  display: flex;
  justify-content: center;
  padding: auto;
}
.foto_small > img{
width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: auto;
}


}
.text_small>li{
margin:auto;
flex-direction: column;

  display: flex;

}


@media screen and (max-width: 768px)
{

  .big_card{
    width: auto;
    flex-direction: row;

    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    height: auto;
  }
  .foto_big{
    margin: auto;
    display: flex;
    justify-content: center;
    padding: auto;
  }
  .foto_big > img{
    width: 100px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: auto;
    border-radius: 50%;
  }

  .text_big{
    display: flex;
    padding: auto;
  }
  .text_big > p {
    margin:auto;
    display: flex;
    font-size: 18px;
  }
  .small_card{
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin: auto;
    height: 200px;
  }
.foto_small{
  flex-direction: column;

    margin: auto;
    display: flex;
    justify-content: center;
    padding: auto;
}
.foto_small > img{
  width: 150px;

    display: flex;

    margin: auto;
    margin-top: 50px;

}



.text_small> li{
  margin:auto;
  font-size: 15px;

    display: flex;
}


}
