
<div class="container">
<div class="big_card">
  <div class="foto_big">
 <img src="../../../assets/ph.jpeg" alt="minha foto">
  </div>
  <div class="text_big">
<p>Olá, eu me chamo Matias e sou formado em Serviços Jurídicos e Notariais. Atualmente, estou cursando Ciências da Computação,
  e sou apaixonado por tecnologia. Irei te auxiliar no que for necessário para resolver seu problema relacionado à informática.</p>
  </div>
</div>

<div class="small_card">
  <div class="text_small">
<li> 👉Formatação de computadores e notebooks.</li><br>
<li> 👉Troca de peças.</li><br>
<li> 👉Montagem de computadores.</li>
</div>
<div class="foto_small">
  <img src="../../../assets/tc.jpg" alt="imagem informática">
    </div>


</div>
</div>
